.App {
  text-align: center;
  margin-top: 190px;
}
#c1,#c2,#c3,#c4,#c5,#c6,#c7,#c8,#c9 {
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 1px;
  margin-right: 1px;
  background-color: brown;
  height: 90px;
  width: 90px;
}
.X-O {
  font-family: cursive;
}

